/* color palette
background color: FB8500 (UT orange)
button background color: FFB703 (Selective yellow)
text color: 023047 (Prussian blue)
link hover text color: 0075FA (Crayola blue)
*/
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Pixelify";
    src: url("./fonts/PixelifySans-Regular.ttf");
}
h1, h2, h3, h4, p, li, ul, ol, figcaption, summary, button, div, a, fieldset {
    font-family: "Roboto", monospace;
    color: #023047;
}
p {
    font-size: 18px;
}
figcaption {
    font-size: 12px;
}
p::selection {
    background: #0075FA;
    color: white;
}
body, button {
    background: #FB8500;
}
h1 {
    text-align: center;
}
.page {
    width: fit-content;
    height: fit-content;
}
.flexDiv {
    display: flex;
}
/* css for hamburger menu */
#hamIcon {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0px;
}
.menuShow {
    opacity: 100;
}
nav ul {
    display: block;
    opacity: 0;
    padding-left: 0px;
    transition: all 1.0s;
}
/* css for layout */
main, nav {
    display: inline-block;
    vertical-align: top;
}
main {
    width: 75%;
}
nav {
    width: 24%;
}
/* css for flow charts (page 2) */
.circleDiv {
    box-sizing: border-box;
    padding: 10px;
    display: grid;
}
#descartesFlowChart {
    grid-template-rows: 200px;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
}
#socratesFlowChart, #nietzscheFlowChart {
    grid-template-rows: 200px 20px 200px;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
}
.textCircle, .arrowCircle {
    background: #FFB703;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textCircle {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: inherit;
    height: inherit;
}
#descartesText1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
#descartesText2 {
    grid-row: 1/2;
    grid-column: 3/4;
}
#descartesText3 {
    grid-row: 1/2;
    grid-column: 5/6;
}
#descartesText4 {
    grid-row: 1/2;
    grid-column: 7/8;
}
#descartesText5 {
    grid-row: 1/2;
    grid-column: 9/10;
}
#socratesText1, #nietzscheText1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
#socratesText2, #nietzscheText2 {
    grid-row: 1/2;
    grid-column: 3/4;
}
#socratesText3, #nietzscheText3 {
    grid-row: 1/2;
    grid-column: 5/6;
}
#socratesText4, #nietzscheText4 {
    grid-row: 3/4;
    grid-column: 5/6;
}
#socratesText5, #nietzscheText5 {
    grid-row: 3/4;
    grid-column: 3/4;
}
#socratesText6 {
    grid-row: 3/4;
    grid-column: 1/2;
}
.arrowCircle {
    background: #FB8500;
    margin: auto;
    width: inherit;
    height: inherit;
}
#descartesArrow1 {
    grid-row: 1/2;
    grid-column: 2/3;
}
#descartesArrow2 {
    grid-row: 1/2;
    grid-column: 4/5;
}
#descartesArrow3 {
    grid-row: 1/2;
    grid-column: 6/7;
}
#descartesArrow4 {
    grid-row: 1/2;
    grid-column: 8/9;
}
#socratesArrow1, #nietzcheArrow1 {
    grid-row: 1/2;
    grid-column: 2/3;
}
#socratesArrow2, #nietzscheArrow2 {
    grid-row: 1/2;
    grid-column: 4/5;
}
#socratesArrow3, #nietzscheArrow3 {
    grid-row: 2/3;
    grid-column: 5/6;
}
#socratesArrow4, #nietzscheArrow4 {
    grid-row: 3/4;
    grid-column: 4/5;
}
#socratesArrow5 {
    grid-row: 3/4;
    grid-column: 2/3;
}
/* css for mini game (page 4) */
/* sprites */
.trolley {
    background: url("./images/spriteSheet.png") no-repeat -130px -131px;
	width: 100px;
	height: 96px;
    z-index: 10; /* place trolley in front of other sprites */
}
.tracks {
    background: url("./images/spriteSheet.png") no-repeat -10px -149px;
	width: 100px;
	height: 60px;
}
.innocent {
    background: url("./images/spriteSheet.png") no-repeat -276px -20px;
	width: 46px;
	height: 75px;
}
.fatMan {
    background: url("./images/spriteSheet.png") no-repeat -130px -20px;
	width: 100px;
	height: 75px;
    z-index: 9;
}
.fatVillain {
    background: url("./images/spriteSheet.png") no-repeat -10px -23px;
	width: 100px;
	height: 73px;
    z-index: 9;
}
#gameBox {
    width: 1000px;
    height: 500px;
    background: white;
    border: 2px solid #023047;
}
#controlPanel {
    display: flex;
    width: 1000px;
    height: 200px;
    background: grey;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
#controlPanel ul li {
    display: inline;
}
#controlPanel button {
    font-family: "Pixelify", monospace;
    width: 200px;
    height: 50px;
    color: black;
    font-size: initial;
    border-radius: 50px;
    transition: all 1s;
}
#controlPanel button:hover {
    width: 300px;
    height: 100px;
    font-size: 25px;
}
#button1 {
    background: red;
}
#button2 {
    background: green;
}
#button3 {
    background: blue;
}
/* the trolley problem */
.trolley, .tracks, .innocent, .fatMan, .fatVillain, .gameView button {
    position: absolute;
}
.trolley {
    margin-top: 200px;
    transition: all 1s;
}
#tracks1, #tracks11, #tracks16 {
    margin-top: 250px;
    margin-left: 150px;
}
#tracks2, #tracks12, #tracks17 {
    margin-top: 250px;
    margin-left: 250px;
}
#tracks3, #tracks13, #tracks18 {
    margin-top: 250px;
    margin-left: 350px;
}
#tracks4, #tracks14, #tracks19 {
    margin-top: 250px;
    margin-left: 450px;
}
#tracks5, #tracks15, #tracks20 {
    margin-top: 250px;
    margin-left: 550px;
}
#tracks6 {
    margin-top: 50px;
    margin-left: 350px;
}
#tracks7 {
    margin-top: 50px;
    margin-left: 450px;
}
#tracks8 {
    margin-top: 50px;
    margin-left: 550px;
}
#tracks9 {
    margin-top: 175px;
    margin-left: 275px;
    rotate: 90deg;
}
#tracks10 {
    margin-top: 75px;
    margin-left: 275px;
    rotate: 90deg;
}
#innocent1, #innocent7, #innocent12 {
    margin-top: 200px;
    margin-left: 650px;
}
#innocent2, #innocent8, #innocent13 {
    margin-top: 200px;
    margin-left: 750px;
}
#innocent3, #innocent9, #innocent14 {
    margin-top: 250px;
    margin-left: 700px;
}
#innocent4, #innocent10, #innocent15 {
    margin-top: 300px;
    margin-left: 650px;
}
#innocent5, #innocent11, #innocent16 {
    margin-top: 300px;
    margin-left: 750px;
}
#innocent6 {
    margin-top: 25px;
    margin-left: 650px;
}
.gameView button {
    font-family: "Pixelify", monospace;
    border-radius: 50px;
}
#startButton1, #startButton2, #startButton3 {
    margin-top: 450px;
    margin-left: 100px;
}
#switchButton, #pushButton1, #pushButton2 {
    margin-top: 450px;
    margin-left: 200px;
}
#resetButton1, #resetButton2, #resetButton3 {
    margin-top: 450px;
    margin-left: 300px;
}
/* the fat man */
.fatMan, .fatVillain {
    margin-top: 175px;
    margin-left: 250px;
    transition: all 0.5s;
}
a, summary {
    text-decoration: none;
    color: purple;
}
summary:hover, a:hover {
    color: #0075FA;
}
button:hover {
    background: #FFB703;
}
button {
    margin: 2em;
    padding: 0.5em;
}
#addPhilosopher, #removePhilosopher, #resetArea, #submitButton, #resetButton {
    margin: 0px;
    margin-top: 0.5em;
}
input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
fieldset {
    border: 1px solid #023047;
}
#fullScreenButton, #exitScreenButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}
#fullScreenButton {
    font-size: 30px;
}
#exitScreenButton {
    font-size: 20px;
}
.hideButton {
    display: none;
}
ul {
    list-style-type: none;
}
#toTop a {
    position: fixed;
    top: 0px;
    right: 10px;
    padding-left: 0px;
    font-size: 50px;
    color: inherit;
}
#toTop a:hover {
    color: unset;
}
/* css for rwd */
@media (max-width: 800px) {
    #qrcode, #fullScreenButton, #exitScreenButton, .circleDiv {
        display: none;
    }
    main, nav {
        width: 100%;
    }
    .flexDiv {
        display: block;
    }
    iframe, #gameBox, #controlPanel {
        width: calc(100% - 10px);
        height: 300px;
    }
    #controlPanel button {
        width: 100px;
        height: 100px;
    }
    #controlPanel button:hover {
        width: 125px;
        height: 100px;
        font-size: initial;
    }
    .trolley, .tracks, .innocent, .fatMan, .fatVillain {
        transform: scale(0.5); /* scales css sprite down to half its original size*/
    }
    .trolley {
        margin-top: 100px;
        margin-left: -25px;
    }
    #tracks1, #tracks11, #tracks16 {
        margin-top: 125px;
        margin-left: 50px;
    }
    #tracks2, #tracks12, #tracks17 {
        margin-top: 125px;
        margin-left: 100px;
    }
    #tracks3, #tracks13, #tracks18 {
        margin-top: 125px;
        margin-left: 150px;
    }
    #tracks4, #tracks14, #tracks19 {
        margin-top: 125px;
        margin-left: 200px;
    }
    #tracks5, #tracks15, #tracks20 {
        margin-top: 125px;
        margin-left: 250px;
    }
    #tracks6 {
        margin-top: 25px;
        margin-left: 150px;
    }
    #tracks7 {
        margin-top: 25px;
        margin-left: 200px;
    }
    #tracks8 {
        margin-top: 25px;
        margin-left: 250px;
    }
    #tracks9 {
        margin-top: 87.5px;
        margin-left: 112.5px;
    }
    #tracks10 {
        margin-top: 37.5px;
        margin-left: 112.5px;
    }
    #innocent1, #innocent7, #innocent12 {
        margin-top: 100px;
        margin-left: 325px;
    }
    #innocent2, #innocent8, #innocent13 {
        margin-top: 100px;
        margin-left: 362.5px;
    }
    #innocent3, #innocent9, #innocent14 {
        margin-top: 125px;
        margin-left: 343.75px;
    }
    #innocent4, #innocent10, #innocent15 {
        margin-top: 145px;
        margin-left: 325px;
    }
    #innocent5, #innocent11, #innocent16 {
        margin-top: 145px;
        margin-left: 362.5px;
    }
    #innocent6 {
        margin-top: 12.5px;
        margin-left: 325px;
    }
    .fatMan, .fatVillain {
        margin-top: 75px;
        margin-left: 100px;
    }
    #startButton1, #startButton2, #startButton3 {
        margin-top: 250px;
        margin-left: 25px;
    }
    #switchButton, #pushButton1, #pushButton2 {
        margin-top: 250px;
        margin-left: 100px;
    }
    #resetButton1, #resetButton2, #resetButton3 {
        margin-top: 250px;
        margin-left: 175px;
    }
}
/* easter egg */
#hidden {
    opacity: 0;
}
#hidden.hiddenRainbow {
    animation: rainbow 2s;
    animation-iteration-count: infinite;
}
#hidden.fadeOut {
    transition: opacity 1s;
}
@keyframes rainbow {
    0% {color: red;}
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: green;}
    56% {color: blue;}
    70% {color: indigo;}
    84% {color: violet;}
    100% {color: red;}
}
